@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;0,700;1,400&display=swap');

.wrapper {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
}

.button-main {
    width: 235px;
    height: 70px;
    background-color: #ff0000;
    border: none;
    outline: none;
    color: white;
    border-radius: 5px;
    font-size: 24px;
    margin: 300px auto;
    cursor: pointer;
}

.button-main:hover {
    opacity: 0.6;
}


.popup{
    display: flex;
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 1);
    z-index: 1;
    box-sizing: border-box;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s linear;
    font-family: 'Open Sans', sans-serif;
}

.popup_opened{
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s linear;
}

.popup__close{
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    top: 21px;
    right: 18px;
    border: 0;
    border-radius: 2px;
    box-sizing: border-box;
    background-image: url(../images/popupClose.png);
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    outline: 0;
}

.popup__close:hover{
    cursor: pointer;
    opacity: 0.6;
}

.popup__container{
    display: flex;
    justify-content: center;
    padding: 54px 52px 37px 53px;
    color: black;
    background-color: white;
    border-radius: 27px;
    z-index: 2;
    box-sizing: border-box;
    max-width: 100%;
    margin: auto;
    position: relative;
}

.popup__title{
    margin: 0;
    font-size: 26.37px;
    line-height: 29.05px;
    font-weight: 900;
    margin-bottom: 54px;
}

.popup__info {
    height: 180px;
}
.popup__title {
    margin-bottom: 58px;
    font-size: 35px;
    font-weight: 700;
    white-space: pre-line;
    line-height: 1.2;
}
.popup__icons {
    margin-bottom: 23px;
}
.popup__icon {
    margin-right: 11px;
}

.popup__icon:last-child {
    margin-right: 0;
}

.popup__image {
    position: absolute;
    bottom: -3px;
    left: 30px;
}
.popup__form {
    display: flex;
    flex-direction: column;
    margin-top: 132px;
    max-width: 369px;
}

.popup__form fieldset {
    display: flex;
    flex-direction: column;
    outline: 0;
    border: 0;
    margin-bottom: 30px;
    padding: 0;
    
}

.popup__label {
    margin-bottom: 9px;
    color: #222222;
    font-size: 15.14px
}
.popup__input {
    border-radius: 5px;
    font-size: 19.76px;
    height: 52px;
    
    border: 1px solid #adadad;
    color: #a0a0a0;
    padding-left: 19px;
    outline-color: red;
}


.popup__form fieldset:last-child {
    margin-bottom: 15px;
}
.popup__save {
    width: 349.06px;
    height: 70.82px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #39d371;
    border-radius: 5px 5px 11px 11px;
    border: 0;
    border-bottom: 6px solid #36aa60;
    outline: none;
    cursor: pointer;
    width: 100%;
}

.popup__save:hover {
    opacity: 0.7;
}

.popup__save-title {
    margin: 0;
    font-size: 24,54px;
    font-weight: 600;
    color: white
}
.popup__save-img {
    margin-left: 22px;
}

.popup__form-subtitle {
    margin-top: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11.62px;
    color: #b3b3b3;
}

.popup__form-subtitle span {
    margin-right: 14px;
}

.popup__form-subtitle span:last-child {
    margin-right: 0;
}

@media (max-width: 1170px) {
    .popup__title {
        font-size: calc(25px + (8 + 8 * 0.7) * ((100vw - 768px) / 1170));
        margin-bottom: calc(35px + (21 + 21 * 0.7) * ((100vw - 768px) / 1170));
    }

    .popup__icon {
        width: calc(28px + (7 + 7 * 0.7) * ((100vw - 768px) / 1170));
    }

    .popup__image {
        width: calc(320px + (100 + 100 * 0.7) * ((100vw - 768px) / 1170))
    }

    .popup__form {
        margin-top: calc(45px + (85 + 85 * 0.7) * ((100vw - 768px) / 1170));
    }

    .popup__input {
        height: calc(40px + (10 + 10 * 0.7) * ((100vw - 768px) / 1170));
        padding-left: calc(14px + (4 + 4 * 0.7) * ((100vw - 768px) / 1170));
    }

    .popup__label {
        font-size: calc(13.44px + (2 + 2 * 0.7) * ((100vw - 768px) / 1170));
    }
}


@media (max-width: 767px) {
   .popup__container {
       flex-direction: column;
       padding: 0 19px 32px;
       justify-content: flex-start;
   }

   .popup__form-subtitle {
       display: none;
   }
   
   .popup__image {
       top: 14px;
       left: 33px;
       width: 228px;
       bottom: 0;
       z-index: -1;
   }
   
   .popup__icons {
       transform: translateY(-125px);
       z-index: 2;
   }

   .popup__icon {
       width: calc(26px + (2 + 2 * 0.7) * ((100vw - 320px) / 767));;
       margin-right: 9px;
   }

   .popup__title {
       margin-top: 215px;
       font-size: 20.09px;
       text-align: center;
   }

   .popup__form fieldset {
       margin-bottom: 23px;
   }

   .popup__form fieldset:last-child {
        margin-bottom: 12px;
    }

    .popup__input {
        font-size: 16px;
    }

    .popup__label {
        font-size: 11px;
    }

    .popup__form {
        margin-top: 0;
        padding-top: 114px;
    }
    
    .popup__save {
        height: 62.28px;
    }

    .popup__save-title {
        font-size: 19.88px;
        font-weight: 400;
    }

    .popup__save-img {
        width: 28px;
        margin-left: 18px;
    }
}